// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks

$font-url--google        : 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,400italic,300italic';
$font-family--primary    :  'Open Sans', sans-serif;
$font-family--secondary  : 'arial';



// Text

$base__font-size : 15px;
$base__line      : 24px;
$paragraph       : #909090;

// Social colors

$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;
$youtube: #bb0000;